.wrapper{
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  background: url('./../assets/images/image_64834411.jpg') center 75px;
  background-size: cover;
  background-repeat: repeat;
}

.main{
  margin: 0 auto;
  padding: 10px 30px;
}
