<app-loading *ngIf="showLoading"></app-loading>

<div *ngIf="!showSignUp">
  <h1>SignUp <button class="btnlogin" type="button" (click)="showSignUp= !showSignUp" >Switch to Login</button> </h1>

  <div class="logincontainer" *ngIf="showAuthenticateWindow">
    <button class="btnlogin btnsmall" type="button" (click)="showAuthenticateWindow= !showAuthenticateWindow" >Switch to Validate Account</button>
    <form (submit)="signup(myForm)" #myForm="ngForm" class="loginfrm" id="loginForm">
        <div class="form-container">
          <div class="frmrow">
            <label class="form-label">Username</label>
            <input placeholder="username" class="form-control" required [(ngModel)]="uname" name="username">
          </div>
          <div class="frmrow">
            <label class="form-label">Email</label>
            <input placeholder="email" class="form-control" required [(ngModel)]="uemail" name="useremail">
          </div>
          <div class="frmrow">
            <label class="form-label">Password</label>
            <input placeholder="********" class="form-control" type="password" required  [(ngModel)]="upwd" name="password">
          </div>
          <div class="frmrow buttonBox">
            <button [disabled]="myForm.invalid" class="btnlogin" type="submit">Login</button>
            <button class="btnlogin btnreset" type="reset">Reset</button>
          </div>
        </div>
    </form>
  </div>

  <div class="logincontainer" *ngIf="!showAuthenticateWindow">
    <button class="btnlogin btnsmall" type="button" (click)="showAuthenticateWindow= !showAuthenticateWindow" >Switch to Validate Account</button>
    <form (submit)="confirmUser(myForm)" #myForm="ngForm" class="loginfrm" id="loginForm">
        <div class="form-container">
          <div class="frmrow">
            <label class="form-label">Username</label>
            <input placeholder="username" class="form-control" required [(ngModel)]="uname" name="username">
          </div>
          <div class="frmrow">
            <label class="form-label">Validation Code</label>
            <input placeholder="******" class="form-control" type="password" required [(ngModel)]="validationCode" name="validationCode">
          </div>
          <div class="frmrow buttonBox">
            <button [disabled]="myForm.invalid" class="btnlogin" type="submit">Confirm Your Account</button>
            <button class="btnlogin btnreset" type="reset">Reset</button>
          </div>
        </div>
    </form>
  </div>

</div>

<div *ngIf="showSignUp">
  <h1>SignIn <button class="btnlogin" type="button" (click)="showSignUp= !showSignUp">Switch to SignUp</button> </h1>
  <div class="logincontainer">
    <form (submit)="login(myForm1)" #myForm1="ngForm" class="loginfrm" id="loginForm1">
        <div class="form-container">
          <div class="frmrow">
            <label class="form-label">Username</label>
            <input placeholder="username" class="form-control" required  [(ngModel)]="username" name="username">
          </div>
          <div class="frmrow">
            <label class="form-label">Password</label>
            <input placeholder="password" class="form-control" type="password" required  [(ngModel)]="userpassword"  name="password">
          </div>
          <div class="frmrow buttonBox">
            <button class="btnlogin" [disabled]="myForm1.invalid" type="submit">Login</button>
            <div class="errMessage" *ngIf="errMessage.length > 0 ">{{errMessage}}</div>
          </div>
        </div>
    </form>
  </div>
</div>
